apiVersion: apps/v1
kind: Deployment
metadata:
  name: gym-finance-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gym-finance-api
  template:
    metadata:
      labels:
        app: gym-finance-api
    spec:
      containers:
        - name: gym-finance-api
          image: gym-finance-cloud:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
              
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20